---
const platform = "github";
const username = "baip49";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>
        ¡Más información sobre mis proyectos en <a
            href={`https://www.${platform}.com/${username}`}>{platform}</a
        >!
    </p>
</footer>
